<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hello, <%= @user.username %></h1>
    <p>
      Your(<%= @user.first_name %> <%= @user.last_name %>) account has been deleted by Admin
    </p>
    <p>Thanks for joining your journey with us!</p>
  </body>
</html>